{% extends 'base.html' %}

{% block title %}Available Cohorts - Digital Minimalist Lab{% endblock %}

{% block content %}
<header>
    <h1>Available Cohorts</h1>
</header>

{% if available_cohorts %}
    {% for cohort in available_cohorts %}
    <sl-card>
        <h2 slot="header">{{ cohort.name }}</h2>
        <p><small>{{ cohort.start_date }} to {{ cohort.end_date }}</small></p>
        
        {% if cohort.id in user_enrollments %}
        <p>Enrolled</p>
        {% else %}
        <a href="{% url 'cohorts:cohort_join' cohort.id %}" role="button">Join Cohort</a>
        {% endif %}
    </sl-card>
    {% endfor %}
{% else %}
    <article>
        <p>No cohorts are currently available. Check back soon.</p>
    </article>
{% endif %}
{% endblock %}

