<form method="post" novalidate>
    {% csrf_token %}
    <div>
        {% for section, items in form.get_fields_by_section %}
            {% if section %}
            <section>
                <h3>{{ section.title }}</h3>
                {% if section.description %}
                <p>{{ section.description | safe }}</p>
                {% endif %}
            {% endif %}
            
            {% for item in items %}
                {% if item.strength %}
                <div class="card card--small card--{{ item.strength }}">
                {% endif %}

                {% if item.is_info %}
                    {# Display-only info text #}
                    <p>{{ item.text | safe }}</p>
                {% else %}
                    {# Regular form field #}
                    {% with field=item.field %}

                        {% if field.field.widget.hide_label != True %}
                            <label for="{{ item.field.id_for_label }}">{{ field.label }}</label>
                        {% endif %}

                        {{ field }}

                        <!-- Errors -->
                        {% if field.errors %}
                            <small >
                            {{ field.errors|join:", " }}
                            </small>
                        {% endif %}


                        <!-- Help text -->
                        {% if field.help_text %}
                            <small>{{ field.help_text }}</small>
                        {% endif %}


                    {% endwith %}

                {% endif %}

                {% if item.strength %}
                </div>
                {% endif %}
            {% endfor %}
            
            {% if section %}
            </section>
            {% endif %}
        {% endfor %}
    </div>

    <div>
        <button type="submit">
            Submit Survey
        </button>
    </div>
</form>
