{% extends 'base.html' %}

{% block title %}{{ page_title }} - {{ cohort.name }}{% endblock %}

{% block content %}
<header>
    <h1>{{ page_title }}</h1>
</header>

<section>
    {% if object_list %}
    {% for response in object_list %}
    {% include summary_template_names %}
    {% endfor %}
    {% else %}
    <div class="card card--info card--medium">
        <p>{{ empty_message }}</p>
    </div>
    {% endif %}
</section>

<section>
    <p>
        <a href="{% url 'cohorts:dashboard' %}">← Back to Dashboard</a>
    </p>
</section>
{% endblock %}
